@model MyCookBook.Models.Cathegory

@section Scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/KoMapping")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/cathegory")
    @Scripts.Render("~/bundles/cookbook")
    <script type="text/javascript">
        var viewModel =
        {
            CathegoryId: '@this.Model.CathegoryId',
            Name: '@this.Model.Name',
            ImageLink: '@this.Model.ImageLink',
        }
        ko.applyBindings(viewModel);
    </script>
}

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Cathegory</legend>

        <div class="editor-label">
            <label>Изображение</label>
        </div>
        <img class="thumb" src='@this.Model.ImageLink' />
        <div id="output"></div>
        <div>
            <input id="fileInput" type="file" name="fileInput" />
            <input type="button" value="Загрузить" onclick="ImageFilePost('fileInput','@Url.Action("PostCathegoryImage", "CathegoryEdit")','output')" />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            <input type="text" data-bind="textInput : Name" />
        </div>

        <p>
            <input type="button" value="Сохранить" onclick="Put('@Url.Action("PutCathegory", "api/Cathegory")')" />
            <input type="button" value="Назад" onclick="Back()" />
        </p>
    </fieldset>
}

