@model MyCookBook.Models.Recipe

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Recipe</legend>

        @Html.HiddenFor(model => model.RecipeId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Author)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Author)
            @Html.ValidationMessageFor(model => model.Author)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Private)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Private)
            @Html.ValidationMessageFor(model => model.Private)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ImageLink)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ImageLink)
            @Html.ValidationMessageFor(model => model.ImageLink)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CookTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CookTime)
            @Html.ValidationMessageFor(model => model.CookTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CuisineId, "Cuisine")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CuisineId", String.Empty)
            @Html.ValidationMessageFor(model => model.CuisineId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CathegoryId, "Cathegory")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CathegoryId", String.Empty)
            @Html.ValidationMessageFor(model => model.CathegoryId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Volume)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Volume)
            @Html.ValidationMessageFor(model => model.Volume)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
