@model MyCookBook.Models.Cuisine

@section Scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/KoMapping")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/cuisine")
<script type="text/javascript">
    var cuisineViewModel =
    {
        CuisineId: '@this.Model.CuisineId',
        Name: '@this.Model.Name',
        Description: '@this.Model.Description',
        ImageLink: '@this.Model.ImageLink',
    }
    ko.applyBindings(cuisineViewModel);
</script>
}

<h2>Редактирование</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Кухня</legend>

        @Html.HiddenFor(model => model.CuisineId)
        <div class="editor-label">
            <label>Изображение</Label>
        </div>
        <img src='@this.Model.ImageLink'/>
        <div id="output"></div>
        <div>
            <input id="fileInput" type="file" name="fileInput" />
            <input type="button" value="Загрузить" onclick="ImageFileUpload('fileInput', '../ImageUpload', 'output')" />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            <input type="text" data-bind="textInput : Name" />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            <input type="text" data-bind="textInput : Description" />
        </div>

        <p>
            <input type="button" value="Сохранить" onclick="Save('@Url.Action("Post", "api/Cuisine")')" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

