@model MyCookBook.Models.Cuisine

@section Scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/KoMapping")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/cuisine")
    @Scripts.Render("~/bundles/cookbook")
<script type="text/javascript">
    var viewModel =
    {
        CuisineId: '@this.Model.CuisineId',
        Name: '@this.Model.Name',
        Description: '@this.Model.Description',
        ImageLink: '@this.Model.ImageLink',
    }
    ko.applyBindings(viewModel);
</script>
}

<h2>Редактирование</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Кухня</legend>

        <div class="editor-label">
            <label>Изображение</Label>
        </div>
        <img class="thumb" src='@this.Model.ImageLink'/>
        <div id="output"></div>
        <div>
            <input id="fileInput" type="file" name="fileInput" />
            <input type="button" value="Загрузить" onclick="ImageFilePost('fileInput','@Url.Action("PostCuisineImage", "CuisineEdit")','output')" />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            <input type="text" data-bind="textInput : Name" />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            <input type="text" data-bind="textInput : Description" />
        </div>

        <p>
            <input type="button" value="Сохранить" onclick="Put('@Url.Action("PutCuisine", "api/Cuisine")')"/>            
            <input type="button" value="Назад" onclick="Back()"/>
        </p>
    </fieldset>
}



