@model IEnumerable<MyCookBook.Models.Cuisine>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/cuisine")
    @Scripts.Render("~/bundles/cookbook")
}

@{
    ViewBag.Title = "Кухни";
}

<h2>Редактировать Кухни</h2>

<p>
    <input type="button" value="Добавить" onclick="Redirect('@Url.Action("Create", "CuisineEdit")')" />
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="@item.CuisineId">
        <td>
            <img src="@item.ImageLink">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <input type="button" value="Изменить" onclick="Redirect('@Url.Action("Edit/"+item.CuisineId, "CuisineEdit")')" />
            <input type="button" value="Удалить" onclick="Delete(@item.CuisineId)" />
        </td>
    </tr>
}

</table>
