@model MyCookBook.Models.Ingridient

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Ingridient</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ImageLink)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ImageLink)
            @Html.ValidationMessageFor(model => model.ImageLink)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fat)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fat)
            @Html.ValidationMessageFor(model => model.Fat)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Сarbohydrates)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Сarbohydrates)
            @Html.ValidationMessageFor(model => model.Сarbohydrates)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Proteins)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Proteins)
            @Html.ValidationMessageFor(model => model.Proteins)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Сellulose)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Сellulose)
            @Html.ValidationMessageFor(model => model.Сellulose)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnergyValue)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EnergyValue)
            @Html.ValidationMessageFor(model => model.EnergyValue)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
