@model MyCookBook.Models.Ingridient

@section Scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/KoMapping")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ingridient")
    @Scripts.Render("~/bundles/cookbook")
    <script type="text/javascript">
        var viewModel =
        {
        IngridientId    : 0 ,
        Name            : '', 
        ImageLink       : '',  
        Fat             : 0 , 
        Сarbohydrates   : 0 , 
        Proteins        : 0 , 
        EnergyValue     : 0 ,
        }
        ko.applyBindings(viewModel);
    </script>
}

@{
    ViewBag.Title = "Новый Ингридиент";
}

<h2>Новый Ингридиент</h2>
<br>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        <div class="editor-label">
            <label>Изображение</label>
        </div>
        <img class="thumb" src='' />
        <div id="output"></div>
        <div>
            <input id="fileInput" type="file" name="fileInput" />
            <input type="button" value="Загрузить" onclick="ImageFilePost('fileInput','@Url.Action("PostIngridientImage", "IngridientEdit")','output')" />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            <input type="text" data-bind="textInput : Name" />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fat)
        </div>
        <div class="editor-field">
            <input type="text" data-bind="textInput : Fat" />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Сarbohydrates)
        </div>
        <div class="editor-field">
            <input type="text" data-bind="textInput : Сarbohydrates" />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Proteins)
        </div>
        <div class="editor-field">
            <input type="text" data-bind="textInput : Proteins" />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnergyValue)
        </div>
        <div class="editor-field">
            <input type="text" data-bind="textInput : EnergyValue" />
        </div>

        <p>
            <input type="button" value="Сохранить" onclick="Post('@Url.Action("PostIngridient", "api/Ingridient")')" />
            <input type="button" value="Назад" onclick="Back()" />
        </p>
    </fieldset>
}
