@model MyCookBook.Models.Ingridient

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Ingridient</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImageLink)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageLink)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fat)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Сarbohydrates)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Сarbohydrates)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Proteins)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Proteins)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Сellulose)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Сellulose)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EnergyValue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EnergyValue)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
