@model MyCookBook.Models.Ingridient

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Ingridient</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImageLink)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageLink)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fat)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Сarbohydrates)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Сarbohydrates)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Proteins)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Proteins)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Сellulose)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Сellulose)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EnergyValue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EnergyValue)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.IngridientId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
