@model MyCookBook.Models.Ingridient

@section Scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/KoMapping")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ingridient")
    @Scripts.Render("~/bundles/cookbook")
    <script type="text/javascript">
        var viewModel =
        {
            IngridientId: '@this.Model.IngridientId',
            Name: '@this.Model.Name',
            ImageLink: '@this.Model.ImageLink',
            Fat: '@this.Model.Fat',
            Сarbohydrates: '@this.Model.Сarbohydrates',
            Proteins: '@this.Model.Proteins',
            EnergyValue: '@this.Model.EnergyValue',
        }
        ko.applyBindings(viewModel);
    </script>
}

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        <div class="editor-label">
            <label>Изображение</label>
        </div>
        <img class="thumb" src='@this.Model.ImageLink' />
        <div id="output"></div>
        <div>
            <input id="fileInput" type="file" name="fileInput" />
            <input type="button" value="Загрузить" onclick="ImageFilePost('fileInput','@Url.Action("PostIngridientImage", "IngridientEdit")','output')" />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            <input type="text" data-bind="textInput : Name" />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fat)
        </div>
        <div class="editor-field">
            <input type="text" data-bind="textInput : Fat" />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Сarbohydrates)
        </div>
        <div class="editor-field">
            <input type="text" data-bind="textInput : Сarbohydrates" />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Proteins)
        </div>
        <div class="editor-field">
            <input type="text" data-bind="textInput : Proteins" />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnergyValue)
        </div>
        <div class="editor-field">
            <input type="text" data-bind="textInput : EnergyValue" />
        </div>

        <p>
            <input type="button" value="Сохранить" onclick="Put('@Url.Action("PutIngridient", "api/Ingridient")')" />
            <input type="button" value="Назад" onclick="Back()" />
        </p>
    </fieldset>
}

