@model IEnumerable<MyCookBook.Models.Ingridient>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/Ingridient")
    @Scripts.Render("~/bundles/cookbook")
}

@{
    ViewBag.Title = "Ингридиенты";
}

<h2>Ингридиенты</h2>
    <br>

<p>
    <input type="button" value="Добавить" onclick="Redirect('@Url.Action("Create", "IngridientEdit")')" />
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Сarbohydrates)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proteins)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnergyValue)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr class="@item.IngridientId">
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Сarbohydrates)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proteins)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnergyValue)
        </td>
        <td>
            <input type="button" value="Изменить" onclick="Redirect('@Url.Action("Edit/"+item.IngridientId, "IngridientEdit")')" />
            <input type="button" value="Удалить" onclick="Delete(@item.IngridientId)" />
        </td>
    </tr>
}

</table>
